:root,
[data-theme=light] {
  --navbar-bg: #263A59;
}

:root .navbar a.nav-link,
[data-theme=light] .navbar a.nav-link {
  color: white;
}

:root .navbar svg,
[data-theme=light] .navbar svg {
  stroke: white;
}

:root .navbar .app-logo,
[data-theme=light] .navbar .app-logo {
  max-height: unset;
  width: 30px !important;
}

:root #icon-notification path,
:root #icon-small-down path,
:root #icon-notification-with-indicator path,
[data-theme=light] #icon-notification path,
[data-theme=light] #icon-small-down path,
[data-theme=light] #icon-notification-with-indicator path {
  stroke: white !important;
}

#navbar-search {
  background-color: #5A6579;
  color: white;
}

#navbar-search::placeholder {
  color: white;
}

#navbar-search svg {
  stroke: white;
}

.search-bar svg {
  stroke: white;
}

.layout-side-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  padding-left: 0;
  padding-right: 0 !important;
}

.layout-side-section .sidebar-menu {
  padding-top: 25px;
}

.layout-side-section .sidebar-menu:not(.desk-sidebar) {
  padding-left: 20px;
  padding-right: 20px;
}

.layout-main-section-wrapper {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.layout-main-section-wrapper .layout-main-section {
  margin-bottom: 0px !important;
}

.standard-sidebar-item {
  padding-left: 20px;
}

.standard-sidebar-item .item-anchor {
  padding-left: 20px !important;
}

.standard-sidebar-item.selected {
  background-color: transparent !important;
  border-radius: 0;
}

.standard-sidebar-item.selected .item-anchor {
  border-left: 5px solid #35B9CB;
  color: #35B9CB;
  font-weight: 600;
}

.standard-sidebar-item.selected path {
  stroke: white !important;
}

#navbar-breadcrumbs {
  display: none !important;
}

.standard-sidebar-label {
  display: none !important;
}

.page-head {
  margin-bottom: 0px;
}

.widget-title {
  color: #CC9324 !important;
}

/*# sourceMappingURL=business_theme_v14.css.map */