:root,
[data-theme=light] {
  --navbar-bg: #263A59;
}

:root .navbar a.nav-link,
[data-theme=light] .navbar a.nav-link {
  color: white;
}

:root .navbar svg,
[data-theme=light] .navbar svg {
  stroke: white;
}

:root .navbar .app-logo,
[data-theme=light] .navbar .app-logo {
  max-height: unset;
  width: 30px !important;
}

:root #icon-notification path,
:root #icon-small-down path,
:root #icon-notification-with-indicator path,
[data-theme=light] #icon-notification path,
[data-theme=light] #icon-small-down path,
[data-theme=light] #icon-notification-with-indicator path {
  stroke: white !important;
}

#navbar-search {
  background-color: #5A6579;
  color: white;
}

#navbar-search::placeholder {
  color: white;
}

#navbar-search svg {
  stroke: white;
}

.search-bar svg {
  stroke: white;
}

.layout-side-section {
  background-color: white;
  border-radius: 0px;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0 !important;
}

@media screen and (min-width: 992px) {
  .layout-side-section {
    min-height: calc(100vh - 150px) !important;
  }
}

@media (max-width: 991px) {
  .layout-side-section .overlay-sidebar.opened {
    padding-left: 0 !important;
  }
}

.layout-side-section .form-sidebar {
  position: fixed;
  height: calc(100% - 150px);
  overflow-y: scroll;
}

.layout-side-section .form-sidebar::-webkit-scrollbar {
  background: transparent !important;
}

.layout-side-section .form-sidebar::-webkit-scrollbar-track {
  background: transparent !important;
}

.layout-side-section .sidebar-menu {
  padding-top: 25px;
}

.layout-side-section .sidebar-menu:not(.desk-sidebar) {
  padding-left: 20px;
  padding-right: 20px;
}

.layout-main-section-wrapper {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(100vh - 140px) !important;
}

.layout-main-section-wrapper .layout-main-section {
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px !important;
}

.standard-sidebar-item {
  padding-left: 20px;
  padding: 0 !important;
}

.standard-sidebar-item .item-anchor {
  padding: 8px 0px 8px 12px;
  padding-left: 20px !important;
}

.standard-sidebar-item.selected {
  background-color: transparent !important;
  border-radius: 0;
}

.standard-sidebar-item.selected .item-anchor {
  border-left: 5px solid var(--navbar-bg);
  color: var(--navbar-bg);
  font-weight: 600;
}

.standard-sidebar-item.selected path {
  stroke: white !important;
}

#navbar-breadcrumbs {
  display: none !important;
}

.standard-sidebar-label {
  display: none !important;
}

.page-head {
  margin-bottom: 0px;
}

[data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-header b {
  font-weight: 500 !important;
}

.ce-block__content .ce-header .h4 {
  font-size: var(--text-lg);
  color: #CC9324 !important;
}

.ce-block__content .divider {
  display: none;
}

.widget.dashboard-widget-box {
  padding: 0;
}

.widget.dashboard-widget-box .widget-title {
  color: #CC9324 !important;
}

.widget.shortcut-widget-box {
  background-color: #F4F7FD;
  padding: 20px 30px;
  min-height: 90px;
  margin-right: 35px;
  justify-content: center;
}

.widget.shortcut-widget-box .widget-head {
  justify-content: center;
}

.widget.shortcut-widget-box .icon {
  display: none;
}

.widget.shortcut-widget-box:hover {
  background-color: var(--navbar-bg);
  filter: drop-shadow(0px 9px 26px rgba(38, 58, 89, 0.25));
}

.widget.shortcut-widget-box:hover .widget-title {
  color: white !important;
}

/*# sourceMappingURL=hcms_masterise_theme.css.map */