// Header

:root,
[data-theme=light] {
  --navbar-bg: #263A59;

  .navbar {
    a.nav-link {
      color: white;
    }

    svg {
      stroke: white;
    }

    .app-logo {
      max-height: unset;
      width: 30px !important;
    }
  }

  #icon-notification,
  #icon-small-down,
  #icon-notification-with-indicator {
    path {
      stroke: white !important;
    }
  }
}

#navbar-search {
  background-color: #5A6579;
  color: white;

  &::placeholder {
    color: white;
  }

  svg {
    stroke: white;
  }
}

.search-bar {
  svg {
    stroke: white;
  }
}

// Content

// sidebar


.layout-side-section {
  background-color: white;
  border-radius: 0px;
  box-shadow: none;

  padding-left: 0;
  padding-right: 0 !important;

  @media screen and (min-width: 992px) {
    min-height: calc(100vh - 150px) !important;
  }

  .overlay-sidebar.opened {

    @media (max-width: 991px) {
      padding-left: 0!important;

    }
  }

  .form-sidebar {
    position: fixed;
    height: calc(100% - 150px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: transparent!important;
      }
    &::-webkit-scrollbar-track {
      background:transparent!important; // manage scrollbar thumb background color here
    }
  }

  .sidebar-menu {
    padding-top: 25px;

    &:not(.desk-sidebar) {
      padding-left: 20px;
      padding-right: 20px;

    }
  }
}
.layout-main-section-wrapper {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(100vh - 140px) !important;

  .layout-main-section {
    // min-height: calc(100vh - 150px) !important;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px !important;
  }

}

.standard-sidebar-item {
  padding-left: 20px;

  .item-anchor {
    padding: 8px 0px 8px 12px;
    padding-left: 20px !important;
  }
  padding: 0 !important;

  &.selected {
    background-color: transparent !important;
    border-radius: 0;


    .item-anchor {
      border-left: 5px solid var(--navbar-bg);
      color: var(--navbar-bg);
      font-weight: 600;
    }

    path {
      stroke: white !important;
    }
  }
}

.page-head-content {
  // display: none!important;
}

#navbar-breadcrumbs {
  display: none !important;
}

.standard-sidebar-label {
  display: none !important;
}

.page-head {
  margin-bottom: 0px;
}

[data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-header b {
  font-weight: 500 !important;

}

.ce-block__content {
  .ce-header {
    .h4 {
      font-size: var(--text-lg);
      color: #CC9324 !important;
    }
  }

  // [shortcut_name] {
  //   padding: 20px;
  // }
  .divider {
    display: none;
  }
}

.widget {

  &.dashboard-widget-box {
    padding: 0;

    .widget-title {
      color: #CC9324 !important;
    }
  }

  &.shortcut-widget-box {
    background-color: #F4F7FD;
    padding: 20px 30px;
    min-height: 90px;
    margin-right: 35px;
    justify-content: center;

    .widget-head {
      justify-content: center;
    }

    .icon {
      display: none;
    }

    &:hover {
      .widget-title {
        color: white !important;

      }

      background-color: var(--navbar-bg);
      filter: drop-shadow(0px 9px 26px rgba(38, 58, 89, 0.25));
    }
  }
}


// Table

